*{
    margin:0;
    padding:0;
}
body{
    display:flex;
    justify-content: center;
    min-height:100vh;
    align-items: center;
    background-color:#f4e4ba;
}
.container{
    background-color: #fff;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 0.75rem;
    height:45vh;
    width:40vh;
}
form{
    margin-top:1rem;
}
form input,button,select{
    width:100%;
    border:none;
    outline:none;
}
.amount input{
    border:1px solid lightgray;
    height:2rem;
    font-size:1rem;
    padding-left:10px;
    margin-top:8px;
    border-radius:0.75rem;
}
.drop-down{
    display:flex;
    margin-top:2rem;
    gap:3rem;
    
}
.select-container img{
    width:30px;
}
.select-container{
    display:flex;
    justify-content: center;
    align-items :center;
    border:1px solid lightgray;
    width:auto;
    padding-left:6px;
    border-radius:0.75rem;
    
}
form i{
    margin-top:1rem;
    font-size:1.75rem;
}
.msg{
    font-size:1rem;
    margin-top:2.5rem;
}
button{
    height:2rem;
    border-radius:0.75rem;
    color:white;
    background-color: #af4d98;
    margin-top:3rem;
}